html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
  height: 100%;
  width: 100vw;
  text-align: center;
  background: url('https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-1.2.1&w=1000&q=80');
  /* background-size: 100%; */
}

.about {
  width: 100vw;
}

.welcomeDiv {
  height: 100vh;
  width: 100vw;
  border: 2px dark grey;
}

.welcomeMessage {
  font-size: 7vmin;
  /* margin-top: 20vh; */
  margin-bottom: 3px;
  color: white;
}

.signInButton {
  display:inline-block;
  padding:0.2em 1.45em;
  margin:0.1em;
  margin-top: 4vh;
  border:0.1em solid purple;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 3vh;
  font-family:'Segoe UI','Roboto',sans-serif;
  font-weight:400;
  color:purple;
  background-color:transparent;
  text-align:center;
  position:relative;
}
  .signInButton:hover{
  border-color: white;
  color: white;
  }
  .signInButton:active{
  border-color: purple;
  color: white;
  }
  @media all and (max-width:30em){
  .Button{
  display:block;
  margin:0.2em auto;
  }
}

.logoText {
  font-size: 8vmin;
  text-align: left;
  color: white;
}

.aboutRobotDiv {
  /* margin-top: 15vh;
  margin-left: 15vw;
  margin-right: 15vw; */
  padding: 18vw;
}

.aboutRobotApe {
  font-size: 7vmin;
}
